.contenedorDinamico2{
    background-color:  var(--DarkGrey) ;
    width: max-content; 
    height: max-content;
    display: flex;
    align-items: center;
    margin: 10px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: space-around;
  }
.boton{
  width: 255px;
    height: 40px;
    font-family: inherit;
    font-weight: 800  ;
    border: 1px solid var(--Grey) ;
    background: var(--Grey) ;
    color: var(--White);
    font-size: small;
    border-radius: 6px;
    transition: background-color 0.1s;
    margin: 5px;
}
