.contenedorDinamico{
  background-color:  var(--DarkGrey) ;
  width: 250px;
  height: 250px;
  margin: 50px;
  align-items: center;
  border-radius: 6px;
  padding: 5px 5px;
}

@media (min-width: 768px) {
  .contenedorDinamico{
       scale: 1.2;
  }
 }
