.contenedorDinamico{
    margin-top: 110px;
    background-color:  var(--DarkGrey) ;
    align-items: center;
    border-radius: 6px;
    padding: 10px 5px;
    overflow: hidden;
  }

  @media (min-width: 376px) {
    .contenedorDinamico{
         margin-top: 90px;
         scale: 1.2;
    }
   }