.Contenedor1{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .redonda{
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
  
  .contenedorImagen{
    width: auto;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  
  }
  
.nombre{
    display: flex;
    width: auto;
    height: auto;
    color: var(--White);
    font-size: large;
    justify-content: center;
    margin-bottom: 9px;
  }
  .ubicacion{
    display: flex;
    margin:0px;
    color:  var(--Green);
    font-size: x-small;
    justify-content: center;
  }
  
  .descripcion{
    display: flex;
    width: auto;
    font-family: 'Inter';
    height: auto;
    margin-top: 25px;
    color: var(--White);
    font-size: x-small;
    justify-content: center;
  }

  .inter-Normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }