
.inter-ligero {
  font-family: "InterLigero", sans-serif;
  font-optical-sizing: auto;
  font-style: Light;
  font-variation-settings:
    "slnt" 0;
}

.ConTodo{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.Characters2Section{
  display: flex;
  align-content: stretch;
  justify-content: center;
}



